<h1>Exercise #2</h1>
<ul>
  <li>
    Routes 1: <%= link_to "Owner - Articles", owner_articles_path(@owner), target: "_blank" %>
  </li>
  <li>
    Routes 2: <%= link_to "Article", article_path(@article), target: "_blank" %>
  </li>
  <li>
    Routes 3: <%= link_to "Owners", owners_path, target: "_blank" %>
  </li>
  <li>
    Routes 4: <%= link_to "Owner", owner_path(@owner), target: "_blank" %>
  </li>
</ul>
